.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 10px;
}

.dnone {
    display: none;
}

#usertb {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 30px;
}

#usertb td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#usertb tr:nth-child(even) {
    background-color: #f2f2f2;
}

#usertb tr:hover {
    background-color: #ddd;
}

#usertb th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}